.main_calc_block{
width: 80%;
/* height: 400px; */
border-right: 2px solid orange;
margin: 0 auto;
position: relative;
margin-top: 40px;
}
th{
    text-align: left;
}
.adding_item{
 position: absolute;
 right: -13px;
 bottom: -40px;
}
.new_calc_block{
    margin-top: 50px;
}